<main class="mainContainer">
    <div class="backgroundImg-1"></div>
    
    <div class="caption1">
        <span><a href="/login"><button id="loginBtn">Log In/Register</button></a></span>
        <span><a href="/articles"><button id="guestBtn">Continue as Guest</button></a></span>
    </div>
</main>